In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
categorical = pd.read_csv('categorical.csv')

In [3]:
categorical

,OSOURCE,STATE,ZIP,MAILCODE,NOEXCH,MDMAUD,CLUSTER,HOMEOWNR,GENDER,DATASRCE,...,RFA_16,RFA_18,RFA_2R,RFA_2A,MDMAUD_R,MDMAUD_F,MDMAUD_A,GEOCODE2,DOMAIN_A,DOMAIN_B
0,GRI,IL,61081,A,0,XXXX,36.0,NaN,F,NaN,...,S4E,S4E,L,E,X,X,X,C,T,2
1,BOA,CA,91326,A,0,XXXX,14.0,H,M,3.0,...,L1E,NaN,L,G,X,X,X,A,S,1
2,AMH,NC,27017,A,0,XXXX,43.0,U,M,3.0,...,S4F,S4D,L,E,X,X,X,C,R,2
3,BRY,CA,95953,A,0,XXXX,44.0,U,F,3.0,...,S4E,S2D,L,E,X,X,X,C,R,2
4,NaN,FL,33176,A,0,XXXX,16.0,H,F,3.0,...,L3D,A2D,L,F,X,X,X,A,S,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95407,ASE,other,99504,A,0,XXXX,27.0,NaN,M,NaN,...,NaN,NaN,L,G,X,X,X,C,C,2
95408,DCD,TX,77379,A,0,XXXX,24.0,H,M,3.0,...,NaN,NaN,L,F,X,X,X,A,C,1
95409,MBC,MI,48910,A,0,XXXX,30.0,NaN,M,NaN,...,F1D,F1D,L,E,X,X,X,B,C,3
95410,PRV,CA,91320,A,0,XXXX,24.0,H,F,2.0,...,S3F,S2F,L,F,X,X,X,A,C,1
95411,MCC,NC,28409,A,0,C1CM,24.0,U,F,3.0,...,S2G,S3G,L,G,C,1,C,C,C,1

In [7]:
drop_columns_list = []

In [8]:
nulls_percent_df = pd.DataFrame(categorical.isna().sum()*100/len(categorical)).reset_index()
nulls_percent_df.columns = ['column_name', 'nulls_percentage']
nulls_percent_df.head()

  column_name  nulls_percentage
0     OSOURCE          0.972624
1       STATE          0.000000
2         ZIP          0.000000
3    MAILCODE          0.000000
4      NOEXCH          0.007337

In [9]:
columns_above_threshold = nulls_percent_df[nulls_percent_df['nulls_percentage']>50]
print(len(columns_above_threshold['column_name']))

2

In [10]:
drop_columns_list = list(columns_above_threshold['column_name'])
print(drop_columns_list)

['SOLIH', 'VETERANS']

In [11]:
print(categorical['GENDER'].value_counts())
categorical['GENDER'] = categorical['GENDER'].fillna('F')

F    51277
M    39094
U     1715
J      365
C        2
A        2
Name: GENDER, dtype: int64

In [12]:
categorical['GENDER'] = categorical['GENDER'].apply(lambda x: x.replace("C", "F"))

In [13]:
categorical['GENDER'] = categorical['GENDER'].apply(lambda x: x.replace("A", "M"))

In [14]:
categorical['GENDER'] = categorical['GENDER'].apply(lambda x: x.replace("J", "U"))

In [15]:
print(categorical['GENDER'].value_counts())

F    54236
M    39096
U     2080
Name: GENDER, dtype: int64

In [16]:
cols = ['OSOURCE', 'ZIP']
for item in cols:
    drop_columns_list.append(item)  
print(drop_columns_list)

['SOLIH', 'VETERANS', 'OSOURCE', 'ZIP']